$icons-path: '../static/fonts';

@font-face {
    font-family: 'Icons';
    src:  url($icons-path + '/icons.eot?40cb5a');
    src:  url($icons-path + '/icons.eot?40cb5a#iefix') format('embedded-opentype'),
        url($icons-path + '/icons.ttf?40cb5a') format('truetype'),
        url($icons-path + '/icons.woff?40cb5a') format('woff'),
        url($icons-path + '/icons.svg?40cb5a#premium-rh-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.prh-icon,
[class^="prh-icon-"] {
    display: inline-block;

    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition: all 0.33s ease-in-out;
}

.prh-icon {
    &.rotate-90 {
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    &.rotate-180 {
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    &.rotate-270 {
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    &.rotate--90 {
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=-1)";
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    &.rotate--270 {
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=-3)";
        -webkit-transform: rotate(-270deg);
        -ms-transform: rotate(-270deg);
        transform: rotate(-270deg);
    }
}

.prh-icon-angle:before {
    content: "\e900";
}
.prh-icon-arrow:before {
    content: "\e901";
}
.prh-icon-calendar:before {
    content: "\e902";
}
.prh-icon-euro:before {
    content: "\e903";
}
.prh-icon-handshake:before {
    content: "\e904";
}
.prh-icon-home:before {
    content: "\e905";
}
.prh-icon-menu:before {
    content: "\e906";
}
.prh-icon-reminder:before {
    content: "\e907";
}
.prh-icon-user:before {
    content: "\e908";
}
