@import 'variables';
@import '../../node_modules/bootstrap/scss/mixins';

@mixin linear-gradient($originColor: $theme-primary, $originOffset: 0%, $destinationColor: $theme-secondary, $destinationOffset: 100%, $rotation: 0deg) {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#941680+0,6aafce+100 */
    background: $originColor; /* Old browsers */
    background: -moz-linear-gradient($rotation, $originColor $originOffset, $destinationColor $destinationOffset); /* FF3.6-15 */
    background: -webkit-linear-gradient($rotation, $originColor $originOffset, $destinationColor $destinationOffset); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(180deg + $rotation, $originColor $originOffset, $destinationColor $destinationOffset); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$originColor, endColorstr=$destinationColor, GradientType=1); /* IE6-9 fallback on horizontal gradient */
}
