// Fonts
//
//
$font-family-sans-serif: 'Open Sans', Arial, sans-serif;
$font-family-sans-serif-alternative: 'Open Sans Condensed', Arial, sans-serif;

// Colors
//
//
$white:                     #fff;
$black:                     #000;

$theme-violet:              rgb(148, 22, 128);
$theme-pink:                rgb(225, 125, 215);
$theme-pale-blue:           rgb(106, 175, 206);
$theme-indigo:              rgb(175, 204, 240);
$theme-blue:                rgb(79, 154, 187);
$theme-dark-gray:           rgb(24, 23, 22);
$theme-gray:                rgb(177, 178, 179);
$theme-light-gray:          rgb(217, 217, 217);

$theme-primary:             $theme-violet;
$theme-secondary:           $theme-pale-blue;

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme
$brand-primary:             $theme-primary;
// $brand-success:             $green !default;
$brand-info:                $theme-secondary !default;
// $brand-warning:             $orange !default;
// $brand-danger:              $red !default;
// $brand-inverse:             $gray-dark !default;

// Border radius
//
// Rounded corners
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;

// Buttons
$btn-border-radius: 30px;
$btn-secondary-color: $theme-pale-blue;

// Forms
$inputs-color: $white;
$inputs-placeholder-color: rgba($white, 0.5);
