@import 'variables';
@import 'fonts';
@import 'mixins';

@import '../../node_modules/bootstrap/scss/bootstrap';

@keyframes spin {
    0 {
        border-top-color: $theme-primary;
        transform: rotate(0deg);
    }
    50% {
        border-top-color: $theme-secondary;
        transform: rotate(180deg);
    }
    100% {
        border-top-color: $theme-primary;
        transform: rotate(360deg);
    }
}

html {
    position: relative;
    width: 100%;
    height: 100%;
    body {
        height: 100%;
        overflow-x: hidden;
        #app-container {
            height: 100%;
            #app {
                height: 100%;
                &.authenticated {
                    height: auto;
                    min-height: 100%;
                    padding-bottom: 80px;
                }
                &.navbar-hidden-landscape {
                    @media screen and (orientation: landscape) {
                        padding-bottom: 0;
                        .header,
                        #menu-navbar {
                            display: none;
                        }
                    }
                }
            }
        }
        .hidden {
            display: none;
        }
        .wrapper-link {
            display: inline-block;
            text-decoration: none;
            &.block {
                display: block;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .header {
            text-align: center;
            .header-title {
                margin: 0 auto;
                padding: 18px 0;
                font-size: 14px;
                font-weight: 700;
                line-height: 18px;
                text-transform: uppercase;
                letter-spacing: 0;
            }
            .background-logo {
                background-repeat: no-repeat;
                background-position: center;
                background-size: 90px;
            }
            .header-cta {
                .header-cta-icon {
                    font-size: 23px;
                }
                figcaption {
                    margin: 8px auto 12px;
                    font-family: $font-family-sans-serif-alternative;
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 14px;
                    color: $white;
                }
                .btn {
                    padding: 5px 15px;
                    cursor: pointer;
                    .prh-icon,
                    .icon {
                        vertical-align: middle;
                    }
                }
                &.primary {
                    color: $theme-pink;
                    .btn {
                        color: $theme-pink;
                        border-color: $theme-pink;
                        &:hover,
                        &:active,
                        &:focus {
                            background: $white;
                        }
                    }
                }
                &.secondary {
                    color: $theme-indigo;
                    .btn {
                        border-color: $theme-indigo;
                        color: $theme-indigo;
                        &:hover,
                        &:active,
                        &:focus {
                            background: $white;
                        }
                    }
                }
            }
            .main-btn {
                margin: -20px auto 0;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                border-radius: 100px;
                // color: $white;
                box-shadow: 0 8px 10px 0 rgba($theme-secondary, .28);
                transform: translate3d(0, 50%, 0);
                // @include linear-gradient($theme-blue, 0%, $theme-secondary, 100%, 44deg);
            }
            .btn-back {
                position: absolute;
                top: 11px;
                left: 15px;
                font-size: 18px;
                color: $white;
            }
            &.gradient {
                color: $white;
                .nav.nav-tabs {
                    border: none;
                    .nav-item {
                        .nav-link {
                            padding: 12px 0 8px;
                            font-family: $font-family-sans-serif-alternative;
                            font-size: 13px;
                            font-weight: 700;
                            line-height: 14px;
                            background: none;
                            border: none;
                            color: $white;
                            border-bottom: 6px solid transparent;
                        }
                        &:first-child .nav-link.active {
                            border-bottom: 5px solid $theme-pink;
                        }
                        &:last-child .nav-link.active {
                            border-bottom: 5px solid $theme-pale-blue;
                        }
                    }
                }
            }
            &.header-lg {
                .header-title {
                    // padding: 10px 0 15px;
                }
            }
        }
        .calendar-controls {
            position: relative;
            padding: 10px 15px;
            background: $white;
            text-align: center;
            box-shadow: 0 1px 3px 0 rgba(173, 173, 173, 0.34);
            .calendar-control-left,
            .calendar-control-right {
                position: absolute;
                top: 18px;
                width: 24px;
                height: 24px;
                line-height: 24px;
                border-radius: 50%;
                font-size: 16px;
                background: $theme-primary;
                color: $white;
            }
            .calendar-control-left {
                left: 15px;
            }
            .calendar-control-right {
                right: 15px;
            }
            .calendar-caption {
                margin: 0 auto;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                color: $theme-primary;
            }
            .calendar-week-description {
                margin: 0 auto;
                font-size: 12px;
                line-height: 20px;
                color: $theme-primary;
            }
        }
        .planning-wrapper {
            position: relative;
            padding: 25px 10px 0;
            .planning-calendar {
                width: 100%;
                thead {
                    tr {
                        th {
                            padding: 12px 4px;
                            font-size: 11px;
                            font-weight: 700;
                            line-height: 20px;
                            color: $theme-primary;
                        }
                    }
                }
                tbody {
                    tr {
                        border-top: 1px solid $theme-gray;
                        &:last-child {
                            border-bottom: 1px solid $theme-gray;
                        }
                        td {
                            font-size: 10px;
                            line-height: 22px;
                            vertical-align: middle;
                            border-right: 1px solid rgba($theme-gray, 0.5);
                            &:last-child {
                                border-right: none;
                            }
                            &.planning-day-date {
                                color: $theme-primary;
                            }
                            &.planning-day-times {
                                font-weight: 700;
                            }
                            .planning-day-place,
                            .planning-day-time {
                                padding: 8px 4px;
                            }
                            .planning-day-place {
                                border: 1px solid rgba($theme-gray, 0.5);
                                &.direction {
                                    background: rgba($theme-indigo, 0.5);
                                }
                                &.time-off {
                                    background: rgba($theme-pink, 0.5);
                                }
                            }
                        }
                    }
                }
            }
        }
        .fixed-calendar-wrapper {
            padding: 10px 4px;
            .team-calendar {
                width: 100%;
                font-size: 10px;
                thead {
                    tr {
                        border-bottom: 1px solid $theme-secondary;
                        th {
                            padding: 10px 0;
                            font-size: 11px;
                            line-height: 20px;
                            text-align: center;
                            color: $white;
                            background: $theme-secondary;
                            border-right: 1px solid $theme-indigo;
                            &:first-child {
                                background: none;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        border-bottom: 1px solid $theme-light-gray;
                        td {
                            line-height: 30px;
                            border-right: 1px solid $theme-light-gray;
                            &.user-name {
                                color: $theme-primary;
                            }
                            .available,
                            .unavailable {
                                display: block;
                                text-align: center;
                            }
                            .available {
                                background: rgba($theme-indigo, 0.5);
                            }
                            .unavailable {
                                font-weight: 700;
                                color: $theme-primary;
                                background: rgba($theme-pink, 0.5);
                            }
                            &:last-child {
                                border-right: none;
                            }
                        }
                    }
                }
            }
        }
        .balance {
            border: none;
            box-shadow: 0 1px 3px 0 rgba($theme-gray, 0.34);
            color: $theme-primary;
            .card-title {
                margin: 0 auto;
                padding: 0 0 10px;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                > .prh-icon {
                    margin-right: 8px;
                }
            }
            .balances-table {
                margin-bottom: 10px;
                width: 100%;
                font-size: 11px;
                thead {
                    tr {
                        th {
                            font-weight: 700;
                            line-height: 20px;
                        }
                    }
                }
                tbody {
                    tr {
                        border-bottom: 1px solid $theme-light-gray;
                        td {
                            line-height: 40px;
                        }
                    }
                }
            }
        }
        .vacation {
            border: none;
            box-shadow: 0 1px 3px 0 rgba($theme-gray, 0.34);
            color: $theme-primary;
            .card-title {
                margin: 0 auto;
                padding: 0 0 10px;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                > .prh-icon {
                    font-size: 14px;
                    margin-top: 3px;
                    margin-right: 8px;
                }
                small {
                    font-size: 12px;
                    line-height: 20px;
                }
                .round {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                }
            }
            .vacation-comment {
                font-size: 12px;
                line-height: 20px;
            }
        }
        .loader-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1500;
            background: rgba($white, 0.4);
            .loader-container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                .spinner {
                    display: block;
                    width: 100px;
                    height: 100px;
                    margin: 0 auto;
                    border-radius: 50%;
                    border: 3px solid $gray-lighter;
                    border-top-color: $theme-primary;
                    animation: spin 1s linear infinite;
                }
            }
        }
        .light {
            display: inline-block;
            width: 36px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            border-radius: 50%;
            border: 3px solid $white;
            box-shadow: 0 8px 10px 0 rgba($theme-pale-blue, 0.28);
            &.light-success {
                @include linear-gradient(#429321, 0%, #B4ED50, 100%, 180deg);
            }
            &.light-danger {
                @include linear-gradient(#9F031B, 0%, #F5515F, 100%, 180deg);
            }
        }
        .light-container-lg {
            margin: 25px auto;
            width: 174px;
            height: 174px;
            border-radius: 50%;
            border: 15px solid $white;
            box-shadow: 0 1px 3px 0 $theme-gray;
            .light {
                width: 144px;
                height: 144px;
                padding: 36px 0;
                line-height: 144px;
                border: none;
                img {
                    display: block;
                    margin: 0 auto;
                    height: 70px;
                    width: auto;
                }
            }
        }
        .confirmation-modal {
            top: 60px;
            overflow: visible;
            .modal-body {
                padding: 0 15px;
            }
            .confirmation-modal-header {
                position: relative;
                padding: 30px 0 0;
                .light {
                    position: absolute;
                    left: 18px;
                    top: 0;
                    transform: translate3d(0, -50%, 0);
                }
                .confirmation-status {
                    margin: 0 auto;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .modal-block {
                margin: 30px auto;
                font-size: 12px;
                line-height: 17px;
                &:last-child {
                    margin-bottom: 0;
                }
                .btn {
                    margin: 0 auto 15px;
                }
            }
        }
        .feedback {
            .feedback-title {
                margin: 0 auto 10px;
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
            }
            .feedback-text {
                margin: 0 auto;
                font-size: 12px;
                line-height: 18px;
            }
        }
        .round {
            display: inline-block;
            width: 24px;
            height: 24px;
            font-size: 15px;
            line-height: 24px;
            border-radius: 50%;
            text-align: center;
            &.primary {
                color: $white;
                background: $theme-primary;
            }
            &.secondary {
                color: $white;
                background: $theme-secondary;
            }
        }
        .btn {
            &.btn-outline-primary,
            &.btn-outline-secondary,
            &.btn-outline-info,
            &.btn-outline-success,
            &.btn-outline-warning,
            &.btn-outline-danger,
            &.btn-outline-inverse {
                border-radius: 5px;
                &.btn-rounded {
                    border-radius: $btn-border-radius;
                }
            }
            &.btn-lg {
                border-radius: $btn-border-radius;
            }
        }
        .cards-list {
            margin: 30px auto 0;
            .card {
                margin: 0 auto 3px;
                color: $theme-primary;
                box-shadow: 0 1px 3px 0 rgba(173, 173, 173, 0.34);
                .round {
                    margin: 6px auto;
                }
                .card-title {
                    margin: 0 auto;
                    font-size: 20px;
                    line-height: 18px;
                    font-weight: 700;
                }
                .card-text {
                    font-size: 14px;
                    line-height: 18px;
                }
                &.card-muted {
                    background: $theme-light-gray;
                    color: $black;
                }
            }
        }
        .gradient {
            @include linear-gradient($theme-primary, 15%, $theme-secondary, 100%, -41deg);
        }
        .full {
            position: relative;
            width: 100%;
            height: auto;
            min-height: 100%;
        }
        .background-text {
            position: absolute;
            left: 50%;
            top: 35%;
            transform: translate3d(-50%, -50%, 0);
            z-index: 0;
            overflow: hidden;
            font-size: 117px;
            font-weight: 900;
            color: $white;
            opacity: 0.06;
            letter-spacing: -4.83px;
            filter: blur(2px);
        }
        .avatar-container {
            .avatar {
                display: block;
                width: 100px;
                height: 100px;
                margin: 20px auto;
                border-radius: 50%;
                background: $white;
                border: 5px solid $white;
                box-shadow: 0 17px 21px 0 rgba($black, 0.26), inset 0 3px 3px 0 rgba($black, 0.33);
            }
            .avatar-caption {
                text-shadow: 0 2px 4px rgba($black, 0.5);
                h6 {
                    font-size: 18px;
                    font-weight: 200;
                }
                h4 {
                    font-size: 24px;
                    font-weight: 700;
                    letter-spacing: 0;
                }
            }
        }
        .navbar {
            .navbar-nav {
                display: flex;
                align-items: stretch;
                .nav-item {
                    display: block;
                    flex-grow: 1;
                    text-align: center;
                    .nav-link {
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        margin: 0 auto;
                        padding: 0;
                        border-radius: 50%;
                    }
                    .nav-icon {
                        font-size: 24px;
                        opacity: 0.8;
                    }
                    &.active {
                        .nav-link {
                            background: $gray-light;
                        }
                    }
                }
            }
            &.fixed-bottom {
                padding: 10px 0;
                background: $theme-dark-gray;
                .navbar-nav {
                    flex-direction: row;
                    -webkit-box-direction: normal;
                    -webkit-box-orient: horizontal;
                }
            }
        }
        form {
            &.transparent {
                position: relative;
                color: $inputs-color;
                :-webkit-autofill,
                :-webkit-autofill:hover,
                :-webkit-autofill:focus {
                    background-color: transparent !important;
                    -webkit-text-fill-color: white;
                    box-shadow: none;
                    transition: background-color 5000s ease-in-out 0s;
                }
                a.btn {
                    padding: 16px 10px;
                    font-size: 12px;
                    line-height: 18px;
                    &.btn-outline-secondary {
                        color: $inputs-color;
                        border-color: $inputs-color;
                    }
                }
                .form-group {
                    margin: 0 auto 25px;
                    .form-control {
                        padding: 8px 0;
                        font-size: 16px;
                        font-weight: 200;
                        line-height: 1.4rem;
                        text-align: center;
                        text-transform: uppercase;
                        color: $inputs-color;
                        background: none;
                        border: none;
                        border-bottom: 1px solid $inputs-placeholder-color;
                        &::-webkit-input-placeholder {
                            color: $inputs-placeholder-color;
                        }
                        &::-moz-placeholder {
                            color: $inputs-placeholder-color;
                        }
                        &:-ms-input-placeholder {
                            color: $inputs-placeholder-color;
                        }
                        &:-moz-placeholder {
                            color: $inputs-placeholder-color;
                        }
                        // &:hover,
                        // &:active,
                        &:focus {
                            border-bottom: 1px solid $inputs-color;
                        }
                    }
                }
                a {
                    color: $inputs-color;
                    font-weight: 200;
                }
                button[type='submit'],
                input[type='submit'] {
                    margin: 0 auto 25px;
                    padding: 10px;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 1.4rem;
                    border-radius: 30px;
                    color: $theme-secondary;
                    background: $white;
                    box-shadow: 0 8px 20px rgba($theme-primary, 0.21);
                    &:disabled {
                        opacity: 1;
                        color: rgba($theme-secondary, 0.3);
                        background: $white;
                    }
                }
            }
            &.white {
                background: $white;
                .form-group {
                    margin: 0 auto 4px;
                    padding: 25px 15px;
                    box-shadow: 0 1px 3px 0 rgba($theme-gray, 0.34);
                    &:last-child {
                        box-shadow: none;
                    }
                    .react-datepicker__input-container {
                        width: 100%;
                    }
                    .form-control {
                        width: 100%;
                        color: $theme-primary;
                        font-size: 16px;
                        font-weight: 300;
                        border-radius: 0;
                        border: none;
                        border-bottom: 1px solid $theme-primary;
                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                          color: $theme-primary;
                        }
                        &::-moz-placeholder { /* Firefox 19+ */
                          color: $theme-primary;
                        }
                        &:-ms-input-placeholder { /* IE 10+ */
                          color: $theme-primary;
                        }
                        &:-moz-placeholder { /* Firefox 18- */
                          color: $theme-primary;
                        }
                    }
                    select.form-control {
                        padding-right: 30px;
                        border: 1px solid $theme-primary;
                        // outline: 1px inset $theme-primary;
                        // outline-offset: -1px;
                        // -webkit-appearance: none;
                        // background: url('../static/images/select-background.svg') no-repeat -10px;
                        // background-size: 20px;
                        &:after {
                            content: '\e900';
                            font-family: 'Icons';
                        }
                    }
                    .input-group-addon {
                        background: none;
                        border: none;
                        border-bottom: 1px solid $theme-primary;
                        color: $theme-primary;
                    }
                }
            }
        }
        #login {
            padding: 30px 0;
        }
    }
}
